@charset "utf-8";
@import url('reset.css');
@import url('font.css');

body {
    min-width: 1920px;
    overflow: hidden;
    background-color: #f5f5f5;
}
.section {
    height: 100vh;
    padding-top: 0;
}


/* 헤더 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 9999;
    background: transparent;
    backdrop-filter: blur(6px);
    font-family: 'Lato';
    line-height: 1.5;
    font-weight: bold;
    color: #222;
}

#header .inner {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .name {
    font-size: 16px;
    letter-spacing: 2px;
}

#header .inner .menu {
    display: flex;
    gap: 40px;
    font-size: 20px;
    font-weight: 500;
}

#header .inner .menu li:hover {
    font-weight: bold;
}





/* 인트로 */
.section.intro .inner {
    height: 1080px;
    line-height: 1080px;
    text-align: center;
    background-color: #fafafa;
}

.section.intro .inner h1 {
    font-family: 'Lexend Zetta';
    font-size: 160px;
    font-weight: bold;
}





/* 어바웃 */
.section.about {
    padding: 50px 0;
    font-family: 'Pretendard', 'Noto Sans KR';
    line-height: 1.5;
    color: #222;
    background-color: #f6f6f6;
}

.section.about .inner {
    padding-top: 120px;
    margin: 0 auto;
    width: 1520px;
    display: flex;
    justify-content: space-between;
}

.section.about .inner .left {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section.about .inner .left .picture {
    width: 400px;
}

.section.about .inner .left .picture img {
    width: 100%;
    object-fit: cover;
}

.section.about .inner .left .text {
    display: flex;
    gap: 40px;
}

.section.about .inner .left .text .box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

.section.about .inner .left .text .box-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section.about .inner .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section.about .inner .right .box-3,
.section.about .inner .right .box-4,
.section.about .inner .right .box-5,
.section.about .inner .right .box-6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section.about .inner .right .box-3 h3,
.section.about .inner .right .box-4 h3,
.section.about .inner .right .box-5 h3,
.section.about .inner .right .box-6 h3 {
    font-size: 20px;
    font-weight: 600;
}

.section.about .inner .right .box-3 .text,
.section.about .inner .right .box-4 .text,
.section.about .inner .right .box-5 .text {
    display: flex;
    gap: 50px;
    font-size: 16px;
}

.section.about .inner .right .box-3 .text ul,
.section.about .inner .right .box-4 .text ul,
.section.about .inner .right .box-5 .text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section.about .inner .right .box-3 .text ul:last-child,
.section.about .inner .right .box-4 .text ul:last-child,
.section.about .inner .right .box-5 .text ul:last-child {
    color: #777;
}

.section.about .inner .right .box-6 ul {
    display: flex;
    gap: 20px;
}





/* 프로젝트 */
.section.project {
    background-color: #d5d5d5;
}
.section.project .inner {
    margin: 0 auto;
    padding-top: 120px;
    width: 1720px;
}
.section.project .inner h2 {
    font-family: 'Lexend Zetta';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}




/* 디자인 */
.section.design {
    background-color: #1c1c1c;
}
.section.design .inner {
    padding-top: 120px;
    width: 1720px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.section.design .inner h2 {
    font-family: 'Lexend Zetta';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.section.design .inner .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section.design .inner .item li {
    width: 400px;
}
.section.design .inner .item li img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}




/* 컨택 */
.section.contact {
    padding: 300px 0 200px 0;
}
.section.contact .inner {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    text-align: center;
}
.section.contact .inner h3 {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 5px;
}
.section.contact .inner .icon {
    display: flex;
    gap: 50px;
}
.section.contact .inner .icon li {
    width: 50px;
}
.section.contact .inner .icon img {
    width: 100%;
    object-fit: cover;
}



/* 푸터 */
#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #333;
    font-family: 'Source Code Pro', 'Lato';
}
#footer .inner {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}
#footer .inner p {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.5;
}





/* 모달 */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 9999;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-img {
    max-width: 80%;
    max-height: 80%;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(255,255,255,0.3);
}

.modal.active .modal-img {
    transform: scale(1);
}

.modal button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.modal .prev { left: 40px; }
.modal .next { right: 40px; }

.modal .close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}