@charset "utf-8";
@import url('reset.css');
@import url('font.css');

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
}

.section {
    min-height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    scroll-padding-top: 120px;
}


/* 헤더 */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 9999;
    background: transparent;
    backdrop-filter: blur(6px);
    font-family:
        /* 'PT Serif',  */
        'Inter';
    line-height: 1.5;
    font-weight: bold;
    transition: color 0.4s ease, background 0.4s ease;
}

#header.dark {
    color: #fff;
    background: rbga(0, 0, 0, 0.6);
}

#header.light {
    color: #111;
    background: rbga(255, 255, 255, 0.8);
}

#header .inner {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner .name {
    font-size: 16px;
    letter-spacing: 2px;
}

#header .inner .menu {
    display: flex;
    gap: 40px;
    font-size: 16px;
    font-weight: 500;
}





/* 인트로 */
.section.intro {
    background-color: #fafafa;
}

.section.intro .inner {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
}

.section.intro .inner h1 {
    padding-top: 400px;
    font-family: 'Lexend Zetta';
    font-size: 160px;
    font-weight: bold;
    color: #111;
    border-bottom: 15px solid #111;
    line-height: 2;
}




.section.intro-2 {
    background-color: #fafafa;
}

.section.intro-2 .inner {
    max-width: 1920px;
    width: 100%;
    padding-top: 120px;
    margin: 0 auto;
    color: #111;
}

.section.intro-2 .inner .box {
    margin-top: 600px;
    display: flex;
    gap: 400px;
    border-top: 15px solid #111;
    padding: 100px;
}

.section.intro-2 .inner .box .left,
.section.intro-2 .inner .box .right {
    display: flex;
    gap: 130px;
    font-family: 'Pretendard', 'Noto Sans KR';
}

.section.intro-2 .inner .box .left h3,
.section.intro-2 .inner .box .right h3 {
    font-family: 'Lexend Zetta';
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
}

.section.intro-2 .inner .box .left .top,
.section.intro-2 .inner .box .left .bottom {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.section.intro-2 .inner .box .left .text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.5;
    color: #333;
}

.section.intro-2 .inner .box .left .text h4 {
    font-size: 24px;
    font-weight: 600;
}

.section.intro-2 .inner .box .left .text h5 {
    font-size: 20px;
    font-weight: 600;
}




/* 어바웃 */
.section.about {
    padding: 50px 0;
    font-family: 'Pretendard', 'Noto Sans KR';
    line-height: 1.5;
    color: #fff;
    background-color: #111;
}

.section.about .inner {
    max-width: 1520px;
    width: 100%;
    padding: 0 20px;
    padding-top: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.section.about .inner .left {
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section.about .inner .left .picture {
    width: 400px;
}

.section.about .inner .left .picture img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #777;
}

.section.about .inner .left .text {
    display: flex;
    gap: 40px;
    font-size: 18px;
}

.section.about .inner .left .text .box-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

.section.about .inner .left .text .box-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section.about .inner .right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section.about .inner .right .box-3,
.section.about .inner .right .box-4,
.section.about .inner .right .box-5,
.section.about .inner .right .box-6 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section.about .inner .right .box-3 h3,
.section.about .inner .right .box-4 h3,
.section.about .inner .right .box-5 h3,
.section.about .inner .right .box-6 h3 {
    font-size: 20px;
    font-weight: 600;
}

.section.about .inner .right .box-3 .text,
.section.about .inner .right .box-4 .text,
.section.about .inner .right .box-5 .text {
    display: flex;
    gap: 50px;
    font-size: 18px;
}

.section.about .inner .right .box-3 .text ul,
.section.about .inner .right .box-4 .text ul,
.section.about .inner .right .box-5 .text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section.about .inner .right .box-3 .text ul:last-child,
.section.about .inner .right .box-4 .text ul:last-child,
.section.about .inner .right .box-5 .text ul:last-child {
    color: #777;
}

.section.about .inner .right .box-6 ul {
    display: flex;
    gap: 20px;
}

.section.about .inner .right .box-6 ul img {
    width: 30px;
    object-fit: cover;
}





/* 프로젝트 */
.section.project {
    background-color: #111;
}

.section.project .inner {
    max-width: 1620px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 400px;
}

.section.project .inner .top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    line-height: 1.5;
    color: #ebebeb;
}

.section.project .inner .top h1 {
    font-family: 'Lexend Zetta';
    font-weight: bold;
    font-size: 48px;
    color: #F4511E;
}

.section.project .inner .top strong {
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 600;
    font-size: 24px;
}

.section.project .inner .top p {
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 500;
    font-size: 20px;
}

.section.project .inner .bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-family: 'Pretendard', 'Noto Sans KR';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
}

.section.project .inner .bottom .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ebebeb;
}

.section.project .inner .bottom .left ul {
    display: flex;
    gap: 20px;
}

.section.project .inner .bottom .left li:first-child {
    font-weight: 600;
    color: #fff;
}

.section.project .inner .bottom .right a {
    padding: 20px 40px;
    border-radius: 50px;
    background-color: #F4511E;
    color: #fff;
}

.section.project.project-vans {
    background-image: url("/img/Vans-main.jpg");
    background-size: cover;
}

.section.project.project-stanley {
    background-image: url("/img/STANLEY-main.jpg");
    background-size: cover;
}

.section.project.project-casetify {
    background-image: url("/img/CASETiFY-main.jpg");
    background-size: cover;
}

.section.project.project-kyobo {
    background-image: url("/img/kyobo.png");
    background-size: cover;
}

.section.project.project-vans .inner,
.section.project.project-stanley .inner,
.section.project.project-casetify .inner,
.section.project.project-kyobo .inner {
    backdrop-filter: blur(2px);
}

/* 디자인 */
.section.design {
    background-color: #111;
}

.section.design .inner {
    max-width: 1720px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.section.design .inner h2 {
    font-family: 'Lexend Zetta';
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.section.design .inner .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.design .inner .item li {
    width: 400px;
}

.section.design .inner .item li img {
    width: 100%;
    object-fit: cover;
    border: 1px solid #fff;
}

.section.design .inner h3 {
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}





/* 컨택 */
.section.contact {
    padding: 300px 0 200px 0;
    position: relative;
    background-color: #fafafa;
    color: #111;
}

.section.contact .inner {
    max-width: 1720px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    align-items: center;
    text-align: center;
}

.section.contact .inner h3 {
    font-family: 'Lato';
    font-size: 28px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 5px;
}

.section.contact .inner .icon {
    display: flex;
    gap: 50px;
}

.section.contact .inner .icon li {
    width: 50px;
}

.section.contact .inner .icon img {
    width: 100%;
    object-fit: cover;
}



/* 푸터 */
.section.contact .footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111;
    font-family: 'Source Code Pro', 'Lato';
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.section.contact .footer p {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
}





/* 모달 */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 9999;
}

.modal.active {
    opacity: 1;
    pointer-events: auto;
}

.modal-img {
    max-width: 80%;
    max-height: 80%;
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.3);
}

.modal.active .modal-img {
    transform: scale(1);
}

.modal button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.modal .prev {
    left: 40px;
}

.modal .next {
    right: 40px;
}

.modal .close {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
}



/* 반응형 */
/* 태블릿 (1024px 이하) */
@media (max-width: 1024px) {

    #header .inner {
        padding: 30px;
    }

    #header .menu {
        gap: 20px;
        font-size: 16px;
    }

    .section.about .inner {
        flex-direction: column;
        gap: 60px;
    }

    .section.about .inner .left,
    .section.about .inner .right {
        padding: 0;
    }

    .section.design .inner .item {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .section.design .inner .item li {
        width: 45%;
    }
}


/* 모바일 (768px 이하) */
@media (max-width: 768px) {

    #header .menu {
        display: none;
    }

    .section.intro .inner h1 {
        font-size: 80px;
        line-height: 1.1;
    }

    .section.about {
        padding: 80px 0;
    }

    .section.about .inner .left .picture {
        width: 100%;
    }

    .section.design .inner .item li {
        width: 100%;
    }

    .section.contact .inner h3 {
        font-size: 18px;
        letter-spacing: 2px;
    }
}